<p>Welcome to the edit page!</p>

<form action="/" class="editForm" method="POST" onsubmit="inputValidation(true); return false">
	<fieldset class="entryFieldset"><legend>Edit Workout: {{workout.name}}</legend>
	<p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>
	<input type="hidden" name="id" value="{{workout.id}}">
	<p>
		<label class="entryLabel" for="name"><span>Workout Name:<strong><abbr title="required">*</abbr></strong></span></label>
		<input class="inputBox" id="editName" type="text" onClick="this.select()" name="name" maxlength="255" value="{{workout.name}}" onkeyup="inputValidation(false)" onkeydown="if(event.keyCode == 13) return false;">
	</p>
	<p>
		<label class="entryLabel" for="reps"><span>Reps:</span></label>
		<input class="inputBox" id="editReps" type="number" onClick="this.select(); inputValidation(false)" onkeyup="inputValidation(false)" name="reps" min="0" value="{{workout.reps}}">
	</p>
	<p>
		<label class="entryLabel" for="Weight"><span>Weight:</span></label>
		<input class="inputBox" id="editWeight" type="number" onClick="this.select(); inputValidation(false)" onkeyup="inputValidation(false)" name="weight" min="0" value="{{workout.weight}}">
	</p>
	<p>
		<label class="entryLabel" for="date"><span>Date:</span></label>
		<input class="inputBox" type="date" name="date" value="{{workout.date}}">
	</p>

		<label class="entryLabel" for="unitsDiv" style="float:left">Units:</label>
		<div class="unitsDiv">
		<input type="radio" name="units" id="lbs" value="1" checked>
		<label for="lbs">lbs</label><br>
		<input type="radio" name="units" id="kg" value="0" style="margin-left:48px">
		<label for="kg">kg</label>
		</div>
	<div class="button">
	<input type="submit" name="updateWorkout" value="Update Workout">
	</div>
	</fieldset>
</form>

<form style="float:left" class="editForm" action="/" method="POST">
	Canceling goes back to the main page without making any changes.<br>
	<input type="submit" value="Cancel Edit">
</form>